.group-checkox {
  margin-bottom: 30px;
  p {
    font-size: 24px;
    font-weight: bold;
  }
  .group-checkox-container {
    padding: 10px;
    display: flex;
    gap: 30px;
    flex-flow: wrap;
  }
}

@media screen and (max-width: 720px) {
  .group-checkox {
    p {
      font-size: 20px;
    }
    .group-checkox-container {
      gap: 20px;
    }
  }
}
